.container {
    padding: 100px 0px;
}

.container .head h1 {
    text-align: center;
    padding:50px 0px;
    /* position: relative; */
}

.container .head h1::before {
    content="54446465456";
    /* position: absolute;
    width: 50px;
    height: 5px;
    background: #000;  */

}

.container .head h1::after {
    content="";
    width: 100px;
    height: 5px;
    background: #6aaf08;
}
.box{
    border: 1px solid #d5dccc;
    margin:5px;
}

.ico {
    padding: 40px 30px;
}

.fas {
    color: #6aaf08;
    font-size: 60px;
}

.line {
    width: 5px;
    height: 130px;
    margin: 10px;
    background: #d1d1d1;
}

.text p {
    font-style: italic;
    color: #737573;
}

.text h6 {
    font-weight: 100;
    color: #737573;

}