.container {
    padding: 100px 0px;
}

.container .head h1 {
    text-align: center;
    /* position: relative; */
}

.container .head h1::before {
    content="54446465456";
    /* position: absolute;
    width: 50px;
    height: 5px;
    background: #000;  */

}

.container .head h1::after {
    content="";
    width: 100px;
    height: 5px;
    background: #6aaf08;
}